<%- include('./partials/head') %>

<aside>
    <%- include('./partials/sidebar') %>
</aside>

<main>
    <%- include('./partials/mobileMessage') %>
    <div class="container">
        <section class="panel-grid">

            <div class="toolbar-grid">

                <%# Header %>
                <div class="header-panel">
                    <header>
                        <div class="main-title-block">
                            <h1>Commentators Dashboard</h1>
                            <p class="keywords"><span class="tagg green">Goals</span> <span class="tagg blue">Assists</span> <span class="tagg red">Blocks</span> <span class="tagg yellow">Turnovers</span></p>
                        </div>
                    </header>
                </div>

                <%# Title and score %>
                <div class="panel score-panel">
                    <div class="title-container">
                        <div class="title-block">
                            <h2><%= data1.field %></h2>
                            <p><%= data1.gameStatus %> - Division: <%= data1.division %></p>
                        </div>
                        <div class="live-box">
                            <p><span>Live</span></p>
                        </div>
                    </div>
                    <div class="score-container">
                        <div class="score-items">
                            <div class="club-badge">
                                <img class="score-flag" src="/static/img/fake-logo.png" alt="Flag of []">
                                <p><%= data1.team1Name %></p>
                            </div>
                        </div>
                        <div class="score-items">
                            <h2 class="score-h2"><%= data2.team1Score %> - <%= data2.team2Score %></h2>
                        </div>
                        <div class="score-items">
                            <div class="club-badge">
                                <img class="score-flag" src="/static/img/fake-logo.png" alt="Flag of []">
                                <p><%= data1.team2Name %></p>
                            </div>
                        </div>
                    </div>
                </div>

                <%# Points %>
                <div class="panel points-panel">
                    <section>
                        <div id="player-info-container" class="player-info-container">
                            <%# Player information will be displayed here %>
                        </div>
                        <%# All of the information will be shown here %>
                        <div id="points-container" class="points-container">
                            <h3>Points</h3>
                            <div class="points-team-1">
                                <table cellspacing="0" cellpadding="0">
                                    <thead>
                                    <tr>
                                        <th>Pass</th>
                                        <th>Turn</th>
                                        <th>O/D</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                        <%# Point item team 1 %> <%# Hier moet een if statement komen waar een verschil wordt gezien tussen de puntentelling. Wanneer een team een punt krijgt moet dat team een groene kleur krijgen in de tabel. Het andere team rood. Daarboven op moet de kleur aangepast worden aan de hand van de team1OorD. %>
                                        <% data2.scoredPoints.forEach(point => { %>
                                            <% if (point.scored === point.team1Name) { %>
                                                <% if (point.team1OorD === "O") { %>
                                                    <tr class="score-info-team-1 dark-blue-table">
                                                        <td><%= point.team1Passes %></td>
                                                        <td><%= point.team1Turnovers %></td>
                                                        <td><%= point.team1OorD %></td>
                                                    </tr>
                                                <% } else {%>
                                                    <tr class="score-info-team-1 blue-table">
                                                        <td><%= point.team1Passes %></td>
                                                        <td><%= point.team1Turnovers %></td>
                                                        <td><%= point.team1OorD %></td>
                                                    </tr>
                                                <% } %>
                                            <% } else { %>
                                                <% if (point.team1OorD === "D") { %>
                                                    <tr class="score-info-team-1 dark-red">
                                                        <td><%= point.team1Passes %></td>
                                                        <td><%= point.team1Turnovers %></td>
                                                        <td><%= point.team1OorD %></td>
                                                    </tr>
                                                <% } else {%>
                                                    <tr class="score-info-team-1 red">
                                                        <td><%= point.team1Passes %></td>
                                                        <td><%= point.team1Turnovers %></td>
                                                        <td><%= point.team1OorD %></td>
                                                    </tr>
                                                <% } %>
                                            <% } %>
                                        <% }) %>
                                        
                                    </tbody>
                                </table>
                            </div>
                            <div class="score-points">
                                <table cellspacing="0" cellpadding="0">
                                    <thead>
                                    <tr>
                                        <th>Score</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                        <%# Score %>
                                        <tr>
                                            <% data2.scoredPoints.forEach(point => { %>
                                                <tr>
                                                    <td><%= point.team1Score %> - <%= point.team2Score %></td>
                                                </tr>
                                            <% }) %>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="points-team-2">
                                <table cellspacing="0" cellpadding="0" class="right">
                                    <thead>
                                    <tr>
                                        <th>O/D</th>
                                        <th>Turn</th>
                                        <th>Pass</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                        <%# Point item team 2 %> 
                                        <% data2.scoredPoints.forEach(point => { %>
                                            <% if (point.scored === point.team2Name) { %>
                                                <% if (point.team2OorD === "O") { %>
                                                    <tr class="score-info-team-2 dark-blue-table">
                                                        <td><%= point.team2OorD %></td>
                                                        <td><%= point.team2Turnovers %></td>
                                                        <td><%= point.team2Passes %></td>
                                                    </tr>
                                                <% } else {%>
                                                    <tr class="score-info-team-2 blue-table">
                                                        <td><%= point.team2OorD %></td>
                                                        <td><%= point.team2Turnovers %></td>
                                                        <td><%= point.team2Passes  %></td>
                                                    </tr>
                                                <% } %>
                                            <% } else { %>
                                                <% if (point.team2OorD === "D") { %>
                                                    <tr class="score-info-team-2 dark-red">
                                                        <td><%= point.team2OorD %></td>
                                                        <td><%= point.team2Turnovers %></td>
                                                        <td><%= point.team2Passes  %></td>
                                                    </tr>
                                                <% } else {%>
                                                    <tr class="score-info-team-2 red">
                                                        <td><%= point.team2OorD %></td>
                                                        <td><%= point.team2Turnovers %></td>
                                                        <td><%= point.team2Passes  %></td>
                                                    </tr>
                                                <% } %>
                                            <% } %>
                                        <% }) %>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="panel top-team-panel">
                    <div class="team-name-info-container">
                        <h3><%= data1.team1Name %> <span class="land-code">(<%= data1.team1CountryISO3Code %>)</span></h3>
                        <h3 class="team-info-icon"><i class="fa fa-info-circle" aria-hidden="true"></i></h3>
                    </div>
                    <div class="team-1-container player-container">

                        <%# Loop for the first player list %>
                        <% data1.team1Players.forEach(player => { %>

                            <%# Player card %>
                                <% if(player.gender === "M") { %>
                                    <a href="/playerinfo/<%= player.playerId %>" id="<%= player.playerId %>" class="player-card male">
                                        <div class="inner-card">
                                            <h4><span class="jersey-number"><%= player.jerseyNumber %></span> <%= player.name %></h4>
                                            <p><span class="player-tagg green">0</span> <span class="player-tagg blue">0</span> <span class="player-tagg red">0</span> <span class="player-tagg yellow">0</span></p>
                                        </div>
                                    </a>
                                <% } if(player.gender === "F") { %>
                                    <a href="/playerinfo/<%= player.playerId %>" id="<%= player.playerId %>" class="player-card female">
                                        <div class="inner-card">
                                            <h4><span class="jersey-number"><%= player.jerseyNumber %></span> <%= player.name %></h4>
                                            <p><span class="player-tagg green">0</span> <span class="player-tagg blue">0</span> <span class="player-tagg red">0</span> <span class="player-tagg yellow">0</span></p>
                                        </div>
                                    </a>
                                <% } %>
                        <% }) %>
                    </div>
                </div>
                <div class="panel bot-team-panel">
                    <div class="team-name-info-container">
                        <h3><%= data1.team2Name %> <span class="land-code">(<%= data1.team2CountryISO3Code %>)</span></h3>
                        <h3 class="team-info-icon"><i class="fa fa-info-circle" aria-hidden="true"></i></h3>
                    </div>
                    <div class="team-2-container player-container">

                        <%# Loop for the second player list %>
                        <% data1.team2Players.forEach(player => { %>

                            <%# Player card %>
                            <% if(player.gender === "M") { %>
                                <a href="/playerinfo/<%= player.playerId %>" id="<%= player.playerId %>" class="player-card male">
                                    <div class="inner-card">
                                        <h4><span class="jersey-number"><%= player.jerseyNumber %></span> <%= player.name %></h4>
                                        <p><span class="player-tagg green">0</span> <span class="player-tagg blue">0</span> <span class="player-tagg red">0</span> <span class="player-tagg yellow">0</span></p>
                                    </div>
                                </a>
                            <% } if(player.gender === "F") { %>
                                <a href="/playerinfo/<%= player.playerId %>" id="<%= player.playerId %>" class="player-card female">
                                    <div class="inner-card">
                                        <h4><span class="jersey-number"><%= player.jerseyNumber %></span> <%= player.name %></h4>
                                        <p><span class="player-tagg green">0</span> <span class="player-tagg blue">0</span> <span class="player-tagg red">0</span> <span class="player-tagg yellow">0</span></p>
                                    </div>
                                </a>
                            <% } %>
                        <% }) %>
                        
                    </div>
                </div>
            </div>

        </section>
    </div>
</main>

<%- include('./partials/foot') %>
