<%- include('./partials/head') %>

<aside>
    <%- include('./partials/sidebar') %>
</aside>

<main class="teamInfo">
    <%- include('./partials/mobileMessage') %>
    <div class="container">
        <section class="panel-grid">
            <div class="team-grid">
                <div class="header-panel">
                    <header>
                        <div class="main-title-block">
                            <h1>Team information</h1>
                            <p class="title-block-p">Select a player to view and edit information.</p>
                        </div>
                    </header>
                </div>
                <div class="panel info-panel">
                    <section class="player-form-container">
                        <div class="player-form-post-continer">
                            <p class="question">Dit is een vraag voor een speler van een interview.</p>
                            <p class="awnser">Dit is een antwoord van een speler.</p>
                        </div>
                        <div class="player-form-input-container">
                            
                            <form action="/teamInfo" method="POST" name="newPlayer" class="player-form">
                                <div class="inner-form">
                                    <label for="name">Name</label>
                                    <input type="text" name="name" placeholder="" value="<%= locals.values?.name ?? '' %>" required>
                                
                                    <label for="name">gender</label>
                                    <input type="text" name="gender" placeholder="" value="<%= locals.values?.gender ?? '' %>" required>
                                
                                    <label for="name">jerseyNumber</label>
                                    <input type="number" min="1" max="99" name="jerseyNumber" placeholder="" value="<%= locals.values?.jerseyNumber ?? '' %>" required>
                                
                                    <label for="name">Team</label>
                                    <input type="text" name="team" placeholder="" value="<%= locals.values?.team ?? '' %>" required>
                                
                                    <label>Questions</label>
                                    <select name="question" required>

                                        <option disabled selected>Select</option>

                                        <% data5.questions.forEach(question => { %>
                                            <option value="<%= question.id %>"><%= question.title %></option>
                                        <% }) %>

                                    </select>

                                    <label>Answer</label>
                                    <input  type="text" name="content" value="<%= locals.values?.content ?? ''%>" required>
                                
                                    <input type="submit" value="Submit" />
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
                <div class="panel team-players-panel">
                    <section class="long-player-container">
                        <ul class="player-card-ul">
                            <% data4.players.forEach(player => { %>

                                <%# Player card long %>
                                    <li id="<%= player.Id %>" class="long-player-card">
                                        <div class="inner-card">
                                            <h4><span class="jersey-number"><%= player.jerseyNumber %></span> <%= player.name %></h4>
                                        </div>
                                    </li>
                            <% }) %>
                        </ul>
                    </section>
                </div>
            </div>
        </section>
    </div>
</main>

<%- include('./partials/foot') %>
