<%- include('./partials/head') %>

<aside>
    <%- include('./partials/sidebar') %>
</aside>

<main class="teamInfo">
    <%- include('./partials/mobileMessage') %>
    <div class="container">
        <section class="panel-grid">
            <div class="team-grid">
                <div class="header-panel">
                    <header>
                        <div class="main-title-block">
                            <h1>Team information</h1>
                            <p class="title-block-p">Select a player to view and edit information.</p>
                        </div>
                    </header>
                </div>
                <div class="panel info-panel">
                    <section class="player-form-container">
                        <div class="player-form-post-continer">
                            <% data3.forEach(question => { %>
                                <p class="question"><%= question.title %></p>
                                <p class="awnser"><%= question.content %></p>
                            <% }) %>
                        </div>
                        <div class="player-form-input-container" id="player">
                            
                            <form action="/postPlayerInfo" method="POST" name="newPlayer" class="player-form">
                                <div class="inner-form">
                                  <label for="name">Name</label>
                                  <input type="text" name="name" placeholder="" value="<%= locals.values?.name ?? '' %>" required>
                              
                                  <div id="hidden-fields" style="display: none;">
                                    <label for="gender">Gender</label>
                                    <select name="gender" required>
                                      <option disabled selected>Select gender</option>
                                        <option value="F">Human female</option>
                                        <option value="M">Human male</option>
                                        <option value="NB">Non-binair</option>
                                        <%# <option value="FU">Furry (woef)</option> %>
                                    </select>

                                    <label for="name">jerseyNumber</label>
                                    <input type="number" min="1" max="99" name="jerseyNumber" placeholder="" value="<%= locals.values?.jerseyNumber ?? '' %>" required>
                              
                                    <label for="name">Team</label>
                                    <input type="text" name="team" placeholder="" value="<%= locals.values?.team ?? '' %>" required>
                              
                                    <label for="question">Questions</label>
                                    <select name="question" required>
                                      <option disabled selected>Select question</option>
                                      <% data5.questions.forEach(question => { %>
                                        <option value="<%= question.id %>"><%= question.title %></option>
                                      <% }) %>
                                    </select>
                              
                                    <label>Answer</label>
                                    <input type="text" name="content" value="<%= locals.values?.content ?? ''%>" required>
                                  </div>
                              
                                  <input type="submit" value="Submit" />
                                </div>
                              </form>
                        </div>
                    </section>
                </div>
                <div class="panel team-players-panel">
                    <div class="btn-row">
                        <p class="team-btn-item"><a href="#" class="info-a">Players</a></p>
                        <p class="team-btn-item"><a href="#" class="info-a">Stats</a></p>
                    </div>
                    <section class="long-player-container">
                        <article>
                            <div class="full-width">
                                <p class="long-jersey always-black">#</p>
                                <p class="long-player-name always-black">Name</p>
                                <p class="long-player-gender always-black">Gender</p>
                                <p class="long-team-name always-black">Team Name</p>
                                <p class="long-edit always-black">Action</p>
                            </div>
                        </article>
                            
                        <%# Player card long %> 
                        <div class="scroll-contianer">
                            <% data4.players.forEach(player => { %>
                                <article id="<%= player.Id %>" class="long-player-card">
                                    <div class="full-width">
                                        <p class="long-jersey"><%= player.jerseyNumber %></p>
                                        <h4 class="long-player-name"><%= player.name %></h4>
                                        <p class="long-player-gender"><%= player.gender %></p>
                                        <p class="long-team-name">Team name</p>
                                        <p class="long-edit"><a href="#" class="info-a">Edit</a></p>
                                    </div>
                                </article>
                            <% }) %>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div>
</main>

<%- include('./partials/foot') %>
